:root {
    --mainWhite: #f2fdff;
    --mainAqua: #00B2B2;
  }
  .max-height {
    min-height: 100vh;
  }
  body {
    background: var(--mainWhite);
  }
  .img-container {
    min-height: 60vh;
    /* background: #e4e4e4; */
    background: url(../img/contBcg-0.jpeg) center/cover fixed no-repeat;
    border: 0.5rem solid var(--mainBlue);
    border-radius: 0.5rem;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    .img-container {
      min-height: 80vh;
    }
  }
  .btn-left {
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--mainAqua);
    color: var(--mainWhite) !important;
    transform: translate(-50%, -50%);
    border: 0.2rem solid var(--mainAqua);
    font-size: 1.2rem;
  }
  .btn-left:hover {
    border-color: var(--mainAqua);
    background: var(--mainWhite);
    color: var(--mainAqua) !important;
  }  
  .btn-right {
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--mainAqua);
    color: var(--mainWhite) !important;
    font-size: 1.2rem;
    transform: translate(50%, -50%);
    border: 0.2rem solid var(--mainAqua);
  }
  .btn-right:hover {
    border-color: var(--mainAqua);
    background: var(--mainWhite);
    color: var(--mainAqua) !important;
  }